@charset "UTF-8";

body {
    background-color: black;
    font: 400 1.2em Arial;
}

header > h1 {
    color: #fff;
    text-align: center;
}

section {
    text-align: center;
}

section a {
    text-decoration: none;
    color: #fff;
}